.NavList li {
    display: inline;
}

.NavLink {
    text-decoration: none;
    color: black;
    padding: 2vw;
}

.NavLink:hover{
    background-color: gray;
}

.Nav {
    margin-top: 2vh;
    margin-bottom: 2vh;
}